<div class="article-section">
  <%= link_to 'Back', {controller: 'welcome'}, class: 'back-btn' %>
  <h1>All Articles</h1>

    <% @articles.each do |article| %>
    <p><%= link_to article.title, article_path(article) %></p>
    <p class="title"><%= article.text %></p>
    <p>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article_path(article),
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' } %>
    </p>
    <hr>
    <% end %>
</div>